<app-loading *ngIf="loading"></app-loading>

<div class="table-responsive" [hidden]="loading">
    <div class="row nav-search-div">
        <div class="col-md-8 mx-auto" id='wrap-oder-search'>
            <div class="md-form">
                <input type="text" [(ngModel)]="searchText" class="form-control order-1" id="search" mdbInput
                    placeholder="search" />
            </div>
        </div>
        <div class="col-md-2 mx-auto" id='wrap-oder-create-btn'>
            <div class="">
                <button (click)="openCreateModal(createModal, user)" class="btn seach-div-btn order-2">add a new
                    user</button>
            </div>
        </div>
        <div class="col-md-2 mx-auto" id='wrap-oder-dashboard'>
            <div class="">
                <button (click)="returnToDashboard()" class="btn seach-div-btn order-3">return to dashboard</button>
            </div>
        </div>

    </div>
    <table mdbTable #tableEl="mdbTable" class="table table-responsive-md">

        <thead>
            <tr>
                <th class="th-sm">
                    <a (click)="sortBy('userId')">ID
                        ⇅
                    </a>
                </th>
                <th class="th-lg">
                    <a (click)="sortBy('userFirstName')">First Name
                        ⇅
                    </a>
                </th>
                <th class="th-lg">
                    <a (click)="sortBy('userLastName')">Last Name ⇅
                    </a>
                </th>
                <th class="th-sm">
                    <a (click)="sortBy('userEmail')">Email ⇅
                    </a>
                </th>
                <th class="th-sm">
                    <a (click)="sortBy('userPhone')">Phone ⇅
                    </a>
                </th>
                <th class="th-sm">
                    <a (click)="sortBy('userRole')">Role ⇅
                    </a>
                </th>
                <th class="th-sm">
                    Update
                </th>
                <th class="th-sm">
                    Delete
                </th>
                <th class="th-lg">
                    Password Recovery
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList | paginate: {itemsPerPage:10,currentPage:page}">
                <td scope="row">{{ user.userId }}</td>
                <td scope="row">{{ user.userFirstName }}</td>
                <td scope="row">{{ user.userLastName }}</td>
                <td scope="row"> {{ user.userEmail }}</td>
                <td scope="row">{{ user.userPhone }}</td>
                <td scope="row">{{ user.userRole }}</td>
                <td scope="row">
                    <button (click)="openEditModal(editModal, user)" class="btn btn-success">
                        <mat-icon>update</mat-icon>
                    </button>
                </td>
                <td scope="row">
                    <button class="btn btn-danger" (click)="openDeleteModal(deleteModal, user)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </td>
                <td scope="row" class="pwd-recovery-td">

                    <button class="btn btn-warning ">
                        <mat-icon>restore_page</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>

    </table>


    <div class="pagination-div">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>

<ng-template #editModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Edit User Details</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="editFormUser" (ngSubmit)="onSubmitUpdate()">
            <div class="form-group row">
                <label for="userId" class="col-sm-4 col-form-label">User ID</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="userId" id="userId" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="userFirstName" class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="userFirstName" id="userFirstName">
                </div>
            </div>
            <div class="form-group row">
                <label for="userLastName" class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="userLastName" id="userLastName">
                </div>
            </div>
            <div class="form-group row">
                <label for="userEmail" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="userEmail" id="userEmail">
                </div>
            </div>
            <div class="form-group row">
                <label for="userPhone" class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="userPhone" id="userPhone">
                </div>
            </div>
            <div class="form-group row">
                <label for="userRole" class="col-sm-4 col-form-label">Role</label>
                <div class="col-sm-8">
                    <select class="form-control" formControlName="userRole" id="userRole">
                        <option value="USER">USER</option>
                        <option value="AGENT">AGENT</option>
                        <option value="ADMIN">ADMIN</option>
                    </select>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Delete User</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <h3>Are you sure you want to delete user {{selected.userFirstName}}</h3>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmitDelete()">Yes/Delete</button>
        </div>
    </div>
</ng-template>


<ng-template #createModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Create user</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
        <form [formGroup]="createFormUser" (ngSubmit)="onSubmitCreate()">
            <div class="form-group row">
                <label for="userFirstName" class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                    <input matInput type="text" class="form-control" formControlName="userFirstName" id="userFirstName">

                </div>
            </div>
            <div class="form-group row">
                <label for="userLastName" class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-8">
                    <input matInput type="text" class="form-control" formControlName="userLastName" id="userLastName">
                </div>
            </div>
            <div class="form-group row">
                <label for="userEmail" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input matInput type="text" class="form-control" formControlName="userEmail" id="userEmail">
                </div>
            </div>
            <div class="form-group row">
                <label for="userPhone" class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <input matInput type="text" class="form-control" formControlName="userPhone" id="userPhone">
                </div>
            </div>
            <div class="form-group row">
                <label for="userRole" class="col-sm-4 col-form-label">Role</label>
                <div class="col-sm-8">
                    <select matInput class="form-control" formControlName="userRole" id="userRole">
                        <option value="USER">USER</option>
                        <option value="AGENT">AGENT</option>
                        <option value="ADMIN">ADMIN</option>
                    </select>

                </div>
            </div>
            <div class="form-group row">
                <label for="userPassword" class="col-sm-4 col-form-label">Password</label>
                <div class="col-sm-8">
                    <input type="text" placeholder="Smoothstack2021!" class="form-control"
                        formControlName="userPassword" readonly>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</ng-template>