<app-loading *ngIf="loading"></app-loading>

<div class="table-responsive">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="md-form">
                <input *ngIf="!loading" type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput
                    placeholder="Search" />

            </div>
        </div>
    </div>
    <table mdbTable #tableEl="mdbTable" class="table">
        <thead>
            <tr>
                <th *ngFor="let head of headElements; let i = index" scope="col">
                    {{head}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userList; let i = index">
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                    scope="row">{{ user.userId }}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                    scope="row">{{ user.userFirstName }}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                    scope="row">{{ user.userLastName }}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                    scope="row"> {{ user.userEmail }}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                    scope="row">{{ user.userPhone }}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                    scope="row">{{ user.userRole }}</td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                    scope="row">
                    <button (click)="openEditModal(editModal, user)" class="btn btn-success">
                        <mat-icon>update</mat-icon>
                    </button>
                </td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                    scope="row">
                    <button class="btn btn-danger" (click)="openDeleteModal(deleteModal, user)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </td>
                <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                    scope="row">

                    <button class="btn btn-warning">
                        <mat-icon>restore_page</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="peg">
        <mdb-table-pagination class="peg" [tableEl]="tableEl" [searchDataSource]="userList">
        </mdb-table-pagination>

    </div>
</div>

<ng-template #editModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Edit User Details</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="editFormUser" (ngSubmit)="onSubmitUpdate()">
            <div class="form-group row">
                <label for="userId" class="col-sm-4 col-form-label">User ID</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="userId" id="userId" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="userFirstName" class="col-sm-4 col-form-label">First Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="userFirstName" id="userFirstName">
                </div>
            </div>
            <div class="form-group row">
                <label for="userLastName" class="col-sm-4 col-form-label">Last Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="userLastName" id="userLastName">
                </div>
            </div>
            <div class="form-group row">
                <label for="userEmail" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="userEmail" id="userEmail">
                </div>
            </div>
            <div class="form-group row">
                <label for="userPhone" class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="userPhone" id="userPhone">
                </div>
            </div>
            <div class="form-group row">
                <label for="userRole" class="col-sm-4 col-form-label">Role</label>
                <div class="col-sm-8">
                    <select class="form-control" formControlName="userRole" id="userRole">
                        <option value="USER">USER</option>
                        <option value="AGENT">AGENT</option>
                        <option value="ADMIN">ADMIN</option>
                    </select>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Delete Airport</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <h3>Are you sure you want to delete user {{selected.userFirstName}}</h3>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmitDelete()">Yes/Delete</button>
        </div>
    </div>
</ng-template>