<app-navbar></app-navbar>

<body>
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5 text-center">
        <ul class="list-unstyled mb-5">
          <li class="active">
            <a href="#">Airplanes</a>
          </li>
          <li>
            <button (click)=displayAirports()>Airports</button>
          </li>
          <li>
            <a href="#">Bookings</a>
          </li>
          <li>
            <a href="#">Flights</a>
          </li>
          <li>
            <a href="#">Routes</a>
          </li>
          <li>
            <a href="#">Users</a>
          </li>
        </ul>

      </div>
    </nav>

    <div id="content" class="p-4 p-md-5">
      <!--COMPONENTS HERE-->

      <div *ngIf="airportsView">
        <app-airports-view></app-airports-view>

      </div>

    </div>
  </div>
</body>