<app-navbar></app-navbar>

<body>
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5 text-center">
        <ul class="list-unstyled mb-5">
          <li>
            <a (click)=displayView(airplanes)>Airplanes</a>
          </li>
          <li>
            <a (click)=displayView(airports)>Airports</a>
          </li>
          <li>
            <a href="#">Bookings</a>
          </li>
          <li>
            <a href="#">Flights</a>
          </li>
          <li>
            <a href="#">Routes</a>
          </li>
          <li>
            <a (click)=displayView(users)>Users</a>
          </li>
        </ul>

      </div>
    </nav>

    <div id="content" class="p-4 p-md-5">
      <!--COMPONENTS HERE-->

      <div *ngIf="currentView === 'AIRPLANES'">
        <app-airplanes-view></app-airplanes-view>
      </div>

      <div *ngIf="currentView === 'AIRPORTS'">
        <app-airports-view></app-airports-view>
      </div>

      <div *ngIf="currentView === 'USERS'">
        <app-users-view></app-users-view>
      </div>

    </div>
  </div>
</body>