<body>
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
      <div class="p-4 pt-5 text-center">
        <h1 id="utopia-head" class="mb-5">Utopia</h1>
        <ul class="list-unstyled mb-5">
          <li class="active">
            <a href="#">Airplanes</a>
          </li>
          <li>
            <a href="#">Airports</a>
          </li>
          <li>
            <a href="#">Bookings</a>
          </li>
          <li>
            <a href="#">Flights</a>
          </li>
          <li>
            <a href="#">Routes</a>
          </li>
          <li>
            <a href="#">Users</a>
          </li>
        </ul>
        
      </div>
    </nav>

    <div id="content" class="p-4 p-md-5">
    <!--COMPONENTS HERE-->
      
    </div>
  </div>
</body>
