<app-loading *ngIf="loading"></app-loading>



<div class="table-responsive" [hidden]="loading">
    <div class="row nav-search-div">
        <div class="col-md-8 mx-auto" id='wrap-oder-search'>
            <div class="md-form">
                <input type="text" [(ngModel)]="searchText" class="form-control order-1" id="search" mdbInput
                    placeholder="search flights" />
            </div>
        </div>
        <div class="col-md-2 mx-auto" id='wrap-oder-create-btn'>
            <div class="">
                <button (click)="openCreateModal(createModal, flight)" class="btn seach-div-btn order-2">add a new
                    flight</button>
            </div>
        </div>
        <div class="col-md-2 mx-auto" id='wrap-oder-dashboard'>
            <div class="">
                <button (click)="returnToDashboard()" class="btn seach-div-btn order-3">return to dashboard</button>
            </div>
        </div>

    </div>
    <table mdbTable #tableEl="mdbTable" class="table table-responsive-md">

        <thead>
            <tr>
                <th class="th-sm">
                    <a (click)="sortBy('flightId')">ID
                        ⇅
                    </a>
                </th>
                <th class="th-lg">
                    <a (click)="sortBy('airplaneId')">Airplane ID
                        ⇅
                    </a>
                </th>
                <th class="th-lg">
                    <a (click)="sortBy('originCityName')">Origin ⇅
                    </a>
                </th>
                <th class="th-lg">
                    <a (click)="sortBy('destinationCityName')">Destination ⇅
                    </a>
                </th>
                <th class="th-lg">
                    <a (click)="sortBy('departureTime')">Departure(UTC) ⇅
                    </a>
                </th>
                <th class="th-lg">
                    <a (click)="sortBy('status')">Status ⇅
                    </a>
                </th>
                <th class="th-sm">
                    Update
                </th>
                <th class="th-sm">
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of flightList | paginate: {itemsPerPage:10,currentPage:page}">
                <td scope="row">{{ flight.flightId }}</td>
                <td scope="row">{{ flight.flightAirplane.airplaneId }}</td>
                <td scope="row">{{ flight.flightRoute.routeOrigin.airportCityName }}</td>
                <td scope="row">{{ flight.flightRoute.routeDestination.airportCityName }}</td>
                <td scope="row">{{ flight.flightDepartureTime }}</td>
                <td scope="row">{{ flight.flightStatus }}</td>
                <td scope="row">
                    <button (click)="openEditModal(editModal, flight)" class="btn btn-success">
                        <mat-icon>update</mat-icon>
                    </button>
                </td>
                <td scope="row">
                    <button class="btn btn-danger" (click)="openDeleteModal(deleteModal, flight)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>

    </table>

    <div class="pagination-div">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>

<!--Edit Modal-->
<ng-template #editModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Edit Flight</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="editFormFlight" (ngSubmit)="onSubmitUpdate()">
            <div class="form-group row">
                <label for="flightId" class="col-sm-4 col-form-label">Flight ID</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" formControlName="flightId" id="flightId" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="flightRoute" class="col-sm-4 col-form-label">Route ID</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" value=1 formControlName="flightRoute" id="flightRoute">
                </div>
            </div>
            <div class="form-group row">
                <label for="flightAirplane" class="col-sm-4 col-form-label">Airplane ID</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" value=1 formControlName="flightAirplane"
                        id="flightAirplane">
                </div>
            </div>
            <div class="form-group row">
                <label for="flightSeatingId" class="col-sm-4 col-form-label">Seating ID</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" value=1 formControlName="flightSeatingId"
                        id="flightSeatingId">
                </div>
            </div>
            <div class="form-group row">
                <label for="flightDepartureTime" class="col-sm-4 col-form-label">Departure</label>
                <div class="col-sm-8">
                    <input type="datetime-local" class="form-control" formControlName="flightDepartureTime"
                        id="flightDepartureTime">
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label class="col-sm-8 col-form-label">Duration: Hours</label>
                    <input [(ngModel)]="hours" [ngModelOptions]="{standalone: true}" type="number" class="form-control"
                        min=0 value=1 id="hours">
                </div>
                <div class="col">
                    <label class="col-sm-4 col-form-label">Minutes</label>
                    <input [(ngModel)]="minutes" [ngModelOptions]="{standalone: true}" type="number"
                        class="form-control" min=0 value=1 id="minutes">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Status</label>
                <div class="col-sm-8">
                    <select class="form-control" formControlName="flightStatus">
                        <option value="INACTIVE">INACTIVE</option>
                        <option value="ACTIVE">ACTIVE</option>
                        <option value="GROUNDED">GROUNDED</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</ng-template>

<!--Create Modal-->
<ng-template #createModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Create Flight</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="createFormFlight" (ngSubmit)="onSubmitCreate()">
            <div class="form-group row">
                <label for="flightId" class="col-sm-4 col-form-label">Flight ID</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" id="flightId" placeholder="Auto-Generated" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="flightRoute" class="col-sm-4 col-form-label">Route ID</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" value=1 formControlName="flightRoute" id="flightRoute">
                </div>
            </div>
            <div class="form-group row">
                <label for="flightAirplane" class="col-sm-4 col-form-label">Airplane ID</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" value=1 formControlName="flightAirplane"
                        id="flightAirplane">
                </div>
            </div>
            <div class="form-group row">
                <label for="flightSeatingId" class="col-sm-4 col-form-label">Seating ID</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" value=1 formControlName="flightSeatingId"
                        id="flightSeatingId">
                </div>
            </div>
            <div class="form-group row">
                <label for="flightDepartureTime" class="col-sm-4 col-form-label">Departure</label>
                <div class="col-sm-8">
                    <input type="datetime-local" class="form-control" formControlName="flightDepartureTime"
                        id="flightDepartureTime">
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label class="col-sm-8 col-form-label">Duration: Hours</label>
                    <input [(ngModel)]="hours" [ngModelOptions]="{standalone: true}" type="number" class="form-control"
                        min=0 value=1 id="hours">
                </div>
                <div class="col">
                    <label class="col-sm-4 col-form-label">Minutes</label>
                    <input [(ngModel)]="minutes" [ngModelOptions]="{standalone: true}" type="number"
                        class="form-control" min=0 value=1 id="minutes">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Status</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" formControlName="flightStatus" placeholder="INACTIVE"
                        readonly>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</ng-template>

<!--Delete Modal-->
<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Delete Flight</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <h3>Are you sure you want to delete Flight? </h3>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmitDelete()">Yes/Delete</button>
        </div>
    </div>
</ng-template>