<div class="container" *ngIf="loading">
    <app-loading></app-loading>
</div>

<div class="container" *ngIf="!loading">

    <div class="row">
        <div class="col">
            <input class="form-control" type="text" name="origin" [(ngModel)]="origin" (ngModelChange)="search()" placeholder="Search for Origin City Name">
        </div>  
        <div class="col">
            <pagination-controls (pageChange) = "page = $event"></pagination-controls>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Flight ID
                    <button class="btn text-black" (click)="onSortChange('flightId')">
                        ⇅
                    </button>
                </th>
                <th>Airplane ID
                    <button class="btn text-black" (click)="onSortChange('airplaneId')">
                        ⇅
                    </button>
                </th>
                <th>Origin
                    <button class="btn text-black" (click)="onSortChange('originCityName')">
                        ⇅
                    </button>
                </th>
                <th>Destination
                    <button class="btn text-black" (click)="onSortChange('destinationCityName')">
                        ⇅
                    </button>
                </th>
                <th>Departure(UTC)
                    <button class="btn text-black" (click)="onSortChange('departureTime')">
                        ⇅
                    </button>
                </th>
                <th>
                    <button (click)="openCreateModal(createModal, flight)" class="btn btn-primary ml-5">Add
                        Flight</button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let flight of flightList | paginate: {itemsPerPage:10,currentPage:page}">
                <td>{{flight.flightId}}</td>
                <td>{{flight.flightAirplane.airplaneId}}</td>
                <td>{{flight.flightRoute.routeOrigin.airportCityName}}</td>
                <td>{{flight.flightRoute.routeDestination.airportCityName}}</td>   
                <td>{{flight.flightDepartureTime}}</td>
                <td><button (click)="openEditModal(editModal, flight)" class="btn btn-success">Update</button></td>
                <td><button (click)="openDeleteModal(deleteModal, flight)" class="btn btn-warning">Delete</button>
            </tr>
        </tbody>
        

    </table>
</div>

<!--Edit Modal-->
<ng-template #editModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Edit Flight</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="editFormFlight" (ngSubmit)="onSubmitUpdate()">
            <div class="form-group row">
                <label for="firstname" class="col-sm-4 col-form-label">Flight ID</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="flightId" id="flightId">
                </div>
            </div>
            <div class="form-group row">
                <label for="lastname" class="col-sm-4 col-form-label">Flight Type ID</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="flightTypeId" id="flightName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</ng-template>

<!--Create Modal-->
<ng-template #createModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Create Flight</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="createFormFlight" (ngSubmit)="onSubmitCreate()">
            <div class="form-group row">
                <label for="flightId" class="col-sm-4 col-form-label">Flight ID</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" formControlName="flightId" id="flightId" placeholder="Auto-Generated" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="flightRoute" class="col-sm-4 col-form-label">Route ID</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" value=1 formControlName="flightRoute" id="flightRoute">
                </div>
            </div>
            <div class="form-group row">
                <label for="flightAirplane" class="col-sm-4 col-form-label">Airplane ID</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" value=1 formControlName="flightAirplane" id="flightAirplane">
                </div>
            </div>
            <div class="form-group row">
                <label for="flightSeatingId" class="col-sm-4 col-form-label">Seating ID</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" value=1 formControlName="flightSeatingId" id="flightSeatingId">
                </div>
            </div>
            <div class="form-group row">
                <label for="flightDepartureTime" class="col-sm-4 col-form-label">Departure</label>
                <div class="col-sm-8">
                    <input type="datetime-local" class="form-control" formControlName="flightDepartureTime" id="flightDepartureTime">
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label class="col-sm-8 col-form-label">Duration:  Hours</label>
                    <input type="number" class="form-control" value=1 id="hours">
                </div>
                <div class="col">
                    <label class="col-sm-4 col-form-label">Minutes</label>
                    <input type="number" class="form-control" value=1 id="minutes">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Status</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" placeholder="INACTIVE" readonly>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</ng-template>

<!--Delete Modal-->
<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Delete Flight</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <h3>Are you sure you want to delete Flight? </h3>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmitDelete()">Yes/Delete</button>
        </div>
    </div>
</ng-template>

