<header>

    <div class="d-flex justify-content-between p-3 navbar-div">

        <div>
            <span class="h1 align-self-center ">UTOPIA</span>

        </div>

        <div class="align-self-center">
            <button (click)=onLogout() class="btn ">Logout</button>
        </div>


    </div>

</header>



<!-- <nav class="navbar navbar-expand-md navbar-dark">
    <span>
        <img src="assets/images/airplane-logo.jpg" class="img-logo" alt="">
    </span>
    <span class="h1">UTOPIA</span>

    <ul class="navbar-nav navbar-collapse justify-content-end">

        <div class="d-flex justify-content-between">
            <button (click)=onLogout() class="btn btn-warning">Logout</button>
        </div>
    </ul>
</nav> -->