:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

body {
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
  height: 100vw;
}

.login-form {
  background-color: aliceblue;
  box-shadow: 5px 5px 15px 5px #000000;
}
