body {
  background: #007bff;
  background: linear-gradient(to right, #0062e6, #33aeff);
  height: 100vw;
}

.login-form {
  background-color: aliceblue;
  box-shadow: 5px 5px 15px 5px #000000;
}
.error-message {
  height: 50px;
  margin: 5px 0px 5px 0px;
}
.alert {
  padding: 0.4rem 1.25rem;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  .col-12 {
    box-sizing: unset !important;
  }
}
