<div class="container">

    <div class="row">
        <button (click)="openCreateModal(createModal, airport)" class="btn btn-success">Add</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>IATA ID
                    <button class="btn text-black" (click)="onSortChange('airportIataId')">
                        ⇅
                    </button>
                </th>
                <th>Name
                    <button class="btn text-black" (click)="onSortChange('airportName')">
                        ⇅
                    </button>
                </th>
                <th>City
                    <button class="btn text-black" (click)="onSortChange('airportCityName')">
                        ⇅
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <!--   for (Todo todo: todos) {  -->
            <tr *ngFor="let airport of airportList">
                <td>{{airport.airportIataId}}</td>
                <td>{{airport.airportName}}</td>
                <td>{{airport.airportCityName}}</td>
                <td><button (click)="openEditModal(editModal, airport)" class="btn btn-success">Update</button></td>
                <td><button (click)="openDeleteModal(deleteModal, airport)" class="btn btn-warning">Delete</button>
                </td>
            </tr>
            <!-- } -->
        </tbody>

    </table>
</div>

<ng-template #editModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Edit Profile</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="editFormAirport" (ngSubmit)="onSubmitUpdate()">
            <div class="form-group row">
                <label for="firstname" class="col-sm-4 col-form-label">IATA ID</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="airportIataId" id="airportIataId" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="lastname" class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="airportName" id="airportName">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-sm-4 col-form-label">City</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="airportCityName" id="airportCityName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</ng-template>


<ng-template #createModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Create Airport</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="createFormAirport" (ngSubmit)="onSubmitCreate()">
            <div class="form-group row">
                <label for="firstname" class="col-sm-4 col-form-label">IATA ID</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="airportIataId" id="airportIataId">
                </div>
            </div>
            <div class="form-group row">
                <label for="lastname" class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="airportName" id="airportName">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-sm-4 col-form-label">City</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="airportCityName" id="airportCityName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</ng-template>




<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Delete Airport</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <h3>Are you sure you want to delete Airport? </h3>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmitDelete()">Yes/Delete</button>
        </div>
    </div>
</ng-template>