<app-loading *ngIf="loading"></app-loading>

<div class="table-responsive" [hidden]="loading">
    <div class="row nav-search-div">
        <div class="col-md-8 mx-auto" id='wrap-oder-search'>
            <div class="md-form">
                <input type="text" [(ngModel)]="searchText" class="form-control order-1" id="search" mdbInput
                    placeholder="search airports" />
            </div>
        </div>
        <div class="col-md-2 mx-auto" id='wrap-oder-create-btn'>
            <div class="">
                <button (click)="openCreateModal(createModal, airport)" class="btn seach-div-btn order-2">add a new
                    airport</button>
            </div>
        </div>
        <div class="col-md-2 mx-auto" id='wrap-oder-dashboard'>
            <div class="">
                <button (click)="returnToDashboard()" class="btn seach-div-btn order-3">return to dashboard</button>
            </div>
        </div>

    </div>
    <table mdbTable #tableEl="mdbTable" id="tableSortExample" class="table table-responsive-md">

        <thead>
            <tr>
                <th class="th-sm">
                    <a (click)="sortBy('airportIataId')">IATA
                        ⇅

                    </a>
                </th>
                <th class="th-lg">
                    <a (click)="sortBy('airportName')">Airport Name
                        ⇅
                    </a>
                </th>
                <th class="th-lg">
                    <a (click)="sortBy('airportCityName')">City
                        ⇅
                    </a>
                </th>
                <th class="th-sm">
                    Update
                </th>
                <th class="th-sm">
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let airport of airportList | paginate: {itemsPerPage:10,currentPage:page}">
                <td scope="row">{{ airport.airportIataId }}</td>
                <td scope="row">{{ airport.airportName }}</td>
                <td scope="row">{{ airport.airportCityName}}</td>
                <td scope="row">
                    <button (click)="openEditModal(editModal, airport)" class="btn btn-success">
                        <mat-icon>update</mat-icon>
                    </button>
                </td>
                <td scope="row">
                    <button class="btn btn-danger" (click)="openDeleteModal(deleteModal, airport)">
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>

    </table>


    <div class="pagination-div">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>


<ng-template #editModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Edit Airport</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="editFormAirport" (ngSubmit)="onSubmitUpdate()">
            <div class="form-group row">
                <label for="firstname" class="col-sm-4 col-form-label">IATA ID</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="airportIataId" id="airportIataId" readonly>
                </div>
            </div>
            <div class="form-group row">
                <label for="lastname" class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="airportName" id="airportName">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-sm-4 col-form-label">City</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="airportCityName" id="airportCityName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</ng-template>


<ng-template #createModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Add Airport</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
        <form [formGroup]="createFormAirport" (ngSubmit)="onSubmitCreate()">
            <div class="form-group row">
                <label for="firstname" class="col-sm-4 col-form-label">IATA ID</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="airportIataId" id="airportIataId">
                </div>
            </div>
            <div class="form-group row">
                <label for="lastname" class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="airportName" id="airportName">
                </div>
            </div>
            <div class="form-group row">
                <label for="username" class="col-sm-4 col-form-label">City</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="airportCityName" id="airportCityName">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</ng-template>




<ng-template #deleteModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Delete Airport</h5>
        <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <h3>Are you sure you want to delete {{selected.airportIataId}} Airport? </h3>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
            <button type="submit" class="btn btn-primary" (click)="onSubmitDelete()">Yes/Delete</button>
        </div>
    </div>
</ng-template>